---
# =============================================================================
# Fichier : inventory.yml.example
# A copier en inventory.yml et adapter les IP à votre environnement.
# /!\ Le vrai inventory.yml est exclu via .gitignore
# =============================================================================

windows:
  hosts:
    poste_01:
      ansible_host: 10.0.0.10
    poste_02:
      ansible_host: 10.0.0.11
  vars:
    ansible_user: "{{ vault_win_user }}"
    ansible_password: "{{ vault_win_password }}"
    ansible_connection: winrm
    ansible_winrm_transport: ntlm
    ansible_winrm_server_cert_validation: ignore
    ansible_port: 5985
