[defaults]
inventory       = inventories/inventory.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
forks           = 10
timeout         = 30

# Pour stocker le mot de passe du vault dans un fichier local NON versionné :
# vault_password_file = ~/.ansible_vault_pass

[inventory]
enable_plugins = yaml, ini

[winrm_connection]
transport = ntlm
